# Delo s Pandasi

Tu notri lahko uporabljam _Markdown_ in $\LaTeX$ $$\int_a^b x \, dx$$

In [1]:
import pandas as pd

In [2]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer:Union[str, pathlib.Path, IO[~AnyStr]], sep=',', delimiter=None, header='infer', names=None, index_col=None, usecols=None, squeeze=False, prefix=None, mangle_dupe_cols=True, dtype=None, engine=None, converters=None, true_values=None, false_values=None, skipinitialspace=False, skiprows=None, skipfooter=0, nrows=None, na_values=None, keep_default_na=True, na_filter=True, verbose=False, skip_blank_lines=True, parse_dates=False, infer_datetime_format=False, keep_date_col=False, date_parser=None, dayfirst=False, cache_dates=True, iterator=False, chunksize=None, compression='infer', thousands=None, decimal:str='.', lineterminator=None, quotechar='"', quoting=0, doublequote=True, escapechar=None, comment=None, encoding=None, dialect=None, error_bad_lines=True, warn_bad_lines=True, delim_whitespace=False, low_memory=True, memory_map=False, float_precision=None)
    Read a comma-separated values (csv) file into DataFrame.

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the online docs for
    `IO Tools <https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : str, path object or file-like object
        Any valid string path is acceptable. The string could be a URL. Valid
        URL schemes include http, ftp, s3, gs, and file. For file URLs, a host is
        expected. A local file could be: file://localhost/path/to/table.csv.

        If you want to pass in a path object, pandas accepts any ``os.PathLike``.

        By file-like object, we refer to objects with a ``read()`` method, such as
        a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
    sep : str, default ','
        Delimiter to use. If sep is None, the C engine cannot automatically detect
        the separator, but the Python parsing engine can, meaning the latter will
        be used and automatically detect the separator by Python's builtin sniffer
        tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
        different from ``'\s+'`` will be interpreted as regular expressions and
        will also force the use of the Python parsing engine. Note that regex
        delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
    delimiter : str, default ``None``
        Alias for sep.
    header : int, list of int, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Default behavior is to infer the column names: if no names
        are passed the behavior is identical to ``header=0`` and column
        names are inferred from the first line of the file, if column
        names are passed explicitly then the behavior is identical to
        ``header=None``. Explicitly pass ``header=0`` to be able to
        replace existing names. The header can be a list of integers that
        specify row locations for a multi-index on the columns
        e.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example is skipped). Note that this
        parameter ignores commented lines and empty lines if
        ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
        data rather than the first line of the file.
    names : array-like, optional
        List of column names to use. If the file contains a header row,
        then you should explicitly pass ``header=0`` to override the column names.
        Duplicates in this list are not allowed.
    index_col : int, str, sequence of int / str, or False, default ``None``
      Column(s) to use as the row labels of the ``DataFrame``, either given as
      string name or column index. If a sequence of int / str is given, a
      MultiIndex is used.

      Note: ``index_col=False`` can be used to force pandas to *not* use the first
      column as the index, e.g. when you have a malformed file with delimiters at
      the end of each line.
    usecols : list-like or callable, optional
        Return a subset of the columns. If list-like, all elements must either
        be positional (i.e. integer indices into the document columns) or strings
        that correspond to column names provided either by the user in `names` or
        inferred from the document header row(s). For example, a valid list-like
        `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
        Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
        To instantiate a DataFrame from ``data`` with element order preserved use
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
        in ``['foo', 'bar']`` order or
        ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
        for ``['bar', 'foo']`` order.

        If callable, the callable function will be evaluated against the column
        names, returning names where the callable function evaluates to True. An
        example of a valid callable argument would be ``lambda x: x.upper() in
        ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
        parsing time and lower memory usage.
    squeeze : bool, default False
        If the parsed data only contains one column then return a Series.
    prefix : str, optional
        Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
    mangle_dupe_cols : bool, default True
        Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
        'X'...'X'. Passing in False will cause data to be overwritten if there
        are duplicate names in the columns.
    dtype : Type name or dict of column -> type, optional
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
        'c': 'Int64'}
        Use `str` or `object` together with suitable `na_values` settings
        to preserve and not interpret dtype.
        If converters are specified, they will be applied INSTEAD
        of dtype conversion.
    engine : {'c', 'python'}, optional
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    converters : dict, optional
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels.
    true_values : list, optional
        Values to consider as True.
    false_values : list, optional
        Values to consider as False.
    skipinitialspace : bool, default False
        Skip spaces after delimiter.
    skiprows : list-like, int or callable, optional
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file.

        If callable, the callable function will be evaluated against the row
        indices, returning True if the row should be skipped and False otherwise.
        An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c').
    nrows : int, optional
        Number of rows of file to read. Useful for reading pieces of large files.
    na_values : scalar, str, list-like, or dict, optional
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values.  By default the following values are interpreted as
        NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
        '1.#IND', '1.#QNAN', '<NA>', 'N/A', 'NA', 'NULL', 'NaN', 'n/a',
        'nan', 'null'.
    keep_default_na : bool, default True
        Whether or not to include the default NaN values when parsing the data.
        Depending on whether `na_values` is passed in, the behavior is as follows:

        * If `keep_default_na` is True, and `na_values` are specified, `na_values`
          is appended to the default NaN values used for parsing.
        * If `keep_default_na` is True, and `na_values` are not specified, only
          the default NaN values are used for parsing.
        * If `keep_default_na` is False, and `na_values` are specified, only
          the NaN values specified `na_values` are used for parsing.
        * If `keep_default_na` is False, and `na_values` are not specified, no
          strings will be parsed as NaN.

        Note that if `na_filter` is passed in as False, the `keep_default_na` and
        `na_values` parameters will be ignored.
    na_filter : bool, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file.
    verbose : bool, default False
        Indicate number of NA values placed in non-numeric columns.
    skip_blank_lines : bool, default True
        If True, skip over blank lines rather than interpreting as NaN values.
    parse_dates : bool or list of int or names or list of lists or dict, default False
        The behavior is as follows:

        * boolean. If True -> try parsing the index.
        * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
          each as a separate date column.
        * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
          a single date column.
        * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
          result 'foo'

        If a column or index cannot be represented as an array of datetimes,
        say because of an unparseable value or a mixture of timezones, the column
        or index will be returned unaltered as an object data type. For
        non-standard datetime parsing, use ``pd.to_datetime`` after
        ``pd.read_csv``. To parse an index or column with a mixture of timezones,
        specify ``date_parser`` to be a partially-applied
        :func:`pandas.to_datetime` with ``utc=True``. See
        :ref:`io.csv.mixed_timezones` for more.

        Note: A fast-path exists for iso8601-formatted dates.
    infer_datetime_format : bool, default False
        If True and `parse_dates` is enabled, pandas will attempt to infer the
        format of the datetime strings in the columns, and if it can be inferred,
        switch to a faster method of parsing them. In some cases this can increase
        the parsing speed by 5-10x.
    keep_date_col : bool, default False
        If True and `parse_dates` specifies combining multiple columns then
        keep the original columns.
    date_parser : function, optional
        Function to use for converting a sequence of string columns to an array of
        datetime instances. The default uses ``dateutil.parser.parser`` to do the
        conversion. Pandas will try to call `date_parser` in three different ways,
        advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
        string values from the columns defined by `parse_dates` into a single array
        and pass that; and 3) call `date_parser` once for each row using one or
        more strings (corresponding to the columns defined by `parse_dates`) as
        arguments.
    dayfirst : bool, default False
        DD/MM format dates, international and European format.
    cache_dates : bool, default True
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce significant speed-up when parsing duplicate
        date strings, especially ones with timezone offsets.

        .. versionadded:: 0.25.0
    iterator : bool, default False
        Return TextFileReader object for iteration or getting chunks with
        ``get_chunk()``.
    chunksize : int, optional
        Return TextFileReader object for iteration.
        See the `IO Tools docs
        <https://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
        for more information on ``iterator`` and ``chunksize``.
    compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer' and
        `filepath_or_buffer` is path-like, then detect compression from the
        following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
        decompression). If using 'zip', the ZIP file must contain only one data
        file to be read in. Set to None for no decompression.
    thousands : str, optional
        Thousands separator.
    decimal : str, default '.'
        Character to recognize as decimal point (e.g. use ',' for European data).
    lineterminator : str (length 1), optional
        Character to break file into lines. Only valid with C parser.
    quotechar : str (length 1), optional
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default 0
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    doublequote : bool, default ``True``
       When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
       whether or not to interpret two consecutive quotechar elements INSIDE a
       field as a single ``quotechar`` element.
    escapechar : str (length 1), optional
        One-character string used to escape other characters.
    comment : str, optional
        Indicates remainder of line should not be parsed. If found at the beginning
        of a line, the line will be ignored altogether. This parameter must be a
        single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header` but not by
        `skiprows`. For example, if ``comment='#'``, parsing
        ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
        treated as the header.
    encoding : str, optional
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
    dialect : str or csv.Dialect, optional
        If provided, this parameter will override values (default or not) for the
        following parameters: `delimiter`, `doublequote`, `escapechar`,
        `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
        override values, a ParserWarning will be issued. See csv.Dialect
        documentation for more details.
    error_bad_lines : bool, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned.
    warn_bad_lines : bool, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output.
    delim_whitespace : bool, default False
        Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
        used as the sep. Equivalent to setting ``sep='\s+'``. If this option
        is set to True, nothing should be passed in for the ``delimiter``
        parameter.
    low_memory : bool, default True
        Internally process the file in chunks, resulting in lower memory use
        while parsing, but possibly mixed type inference.  To ensure no mixed
        types either set False, or specify the type with the `dtype` parameter.
        Note that the entire file is read into a single DataFrame regardless,
        use the `chunksize` or `iterator` parameter to return the data in chunks.
        (Only valid with C parser).
    memory_map : bool, default False
        If a filepath is provided for `filepath_or_buffer`, map the file object
        directly onto memory and access the data directly from there. Using this
        option can improve performance because there is no longer any I/O overhead.
    float_precision : str, optional
        Specifies which converter the C engine should use for floating-point
        values. The options are `None` for the ordinary converter,
        `high` for the high-precision converter, and `round_trip` for the
        round-trip converter.

    Returns
    -------
    DataFrame or TextParser
        A comma-separated values (csv) file is returned as two-dimensional
        data structure with labeled axes.

    See Also
    --------
    DataFrame.to_csv : Write DataFrame to a comma-separated values (csv) file.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_fwf : Read a table of fixed-width formatted lines into DataFrame.

    Examples
    --------
    >>> pd.read_csv('data.csv')  # doctest: +SKIP

In [3]:
filmi = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/filmi.csv')

In [4]:
filmi

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
0,4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...
1,6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ..."
2,9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe..."
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce..."
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev..."
...,...,...,...,...,...,...,...,...,...,...
9995,11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr..."
9996,11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...
9997,12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...
9998,12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...
9999,12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...

In [5]:
filmi.ocena

0       6.3
1       7.7
2       7.3
3       8.1
4       8.3
       ...
9995    5.8
9996    6.3
9997    6.6
9998    7.3
9999    6.6
Name: ocena, Length: 10000, dtype: float64

In [6]:
filmi.ocena[7]

7.8

In [7]:
filmi.tail(10)

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
9990,10964430,Thappad,142,2020,6.9,NaN,13292,NaN,NaN,Thappad is a story of Amrita whose seemingly p...
9991,10993566,Miami Bici,98,2020,6.5,NaN,7864,NaN,NaN,"Miami Bici is the story of Ion and Ilie, two y..."
9992,11024272,The Babysitter: Killer Queen,101,2020,5.8,22.0,19483,NaN,NaN,Two years after Cole survived a satanic blood ...
9993,11100856,"Love, Guaranteed",90,2020,5.5,39.0,9650,NaN,NaN,"To save her small law firm, earnest lawyer Sus..."
9994,11388406,Horse Girl,103,2020,5.9,61.0,13175,NaN,NaN,"Sarah, a socially isolated woman with a fondne..."
9995,11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr..."
9996,11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...
9997,12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...
9998,12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...
9999,12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...

In [8]:
filmi[4:50:3]

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev..."
7,14341,Naše gostoljubje,65,1923,7.8,NaN,9980,NaN,NaN,A man returns to his Appalachian homestead. On...
10,15163,The Navigator,59,1924,7.7,NaN,8926,1483285.0,NaN,Two spoiled rich people find themselves trappe...
13,15864,Zlata mrzlica,95,1925,8.2,NaN,98472,5450000.0,NaN,A prospector goes to the Klondike in search of...
16,16332,Seven Chances,56,1925,7.9,NaN,9068,210748.0,NaN,A man learns he will inherit a fortune if he m...
19,17136,Metropolis,153,1927,8.3,98.0,157244,1236166.0,NaN,In a futuristic city sharply divided between t...
22,18455,Svitanje,94,1927,8.1,NaN,46299,539540.0,NaN,An allegorical tale about a man fighting the g...
25,18742,Snemalec,76,1928,8.1,NaN,10198,NaN,NaN,Hopelessly in love with a woman working at MGM...
28,19421,"Steamboat Bill, Jr.",70,1928,7.9,NaN,12938,NaN,NaN,The effete son of a cantankerous riverboat cap...
31,20640,Animal Crackers,97,1930,7.5,77.0,13397,NaN,NaN,Mayhem and zaniness ensue when a valuable pain...
34,21577,L'âge d'or,60,1930,7.3,NaN,12638,32712.0,NaN,A surrealist tale of a man and a woman who are...
37,21884,Frankenstein,70,1931,7.8,91.0,63907,NaN,NaN,Dr. Frankenstein dares to tamper with life and...
40,22286,The Public Enemy,83,1931,7.7,NaN,17431,NaN,NaN,A young hoodlum rises up through the ranks of ...
43,22958,Grand Hotel,112,1932,7.4,NaN,17055,2692300.0,NaN,A group of very different individuals staying ...
46,23238,The Most Dangerous Game,63,1932,7.1,NaN,10268,965740.0,NaN,An insane hunter arranges for a ship to be wre...
49,23427,Scarface: The Shame of the Nation,93,1932,7.8,87.0,24849,NaN,NaN,An ambitious and nearly insane violent gangste...

In [9]:
filmi['dolzina']

0       195
1       163
2        90
3        76
4        68
       ...
9995    115
9996    113
9997     94
9998    149
9999     57
Name: dolzina, Length: 10000, dtype: int64

In [10]:
filmi.dolzina

0       195
1       163
2        90
3        76
4        68
       ...
9995    115
9996    113
9997     94
9998    149
9999     57
Name: dolzina, Length: 10000, dtype: int64

In [11]:
filmi[['leto', 'dolzina', 'naslov']]

      leto  dolzina                                            naslov
0     1915      195                             The Birth of a Nation
1     1916      163  Intolerance: Love's Struggle Throughout the Ages
2     1919       90    Broken Blossoms or The Yellow Man and the Girl
3     1920       76                      Das Cabinet des Dr. Caligari
4     1921       68                                           The Kid
...    ...      ...                                               ...
9995  2020      115                                 A Fall from Grace
9996  2020      113                                           Sputnik
9997  2020       94                                           Bulbbul
9998  2020      149                                    Raat Akeli Hai
9999  2020       57                                              Host

[10000 rows x 3 columns]

In [12]:
filmi

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
0,4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...
1,6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ..."
2,9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe..."
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce..."
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev..."
...,...,...,...,...,...,...,...,...,...,...
9995,11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr..."
9996,11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...
9997,12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...
9998,12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...
9999,12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...

In [13]:
filmi.ocena / filmi.dolzina

0       0.032308
1       0.047239
2       0.081111
3       0.106579
4       0.122059
          ...
9995    0.050435
9996    0.055752
9997    0.070213
9998    0.048993
9999    0.115789
Length: 10000, dtype: float64

In [14]:
filmi.ocena > 8

0       False
1       False
2       False
3        True
4        True
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: ocena, Length: 10000, dtype: bool

In [36]:
filmi[(filmi.ocena > 8) & (filmi.dolzina < 120)][:40]

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost,desetletje
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce...",0.106579,1920
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev...",0.122059,1920
5,12364,Körkarlen,107,1921,8.1,NaN,10158,NaN,NaN,"On New Year's Eve, the driver of a ghostly car...",0.075701,1920
8,14429,Resitev v zadnjem trenutku,74,1923,8.1,NaN,17921,623809.0,NaN,A boy leaves his small country town and heads ...,0.109459,1920
9,15064,Der letzte Mann,77,1924,8.1,NaN,12345,94812.0,NaN,An aging doorman is forced to face the scorn o...,0.105195,1920
11,15324,Sherlock Jr.,45,1924,8.2,NaN,40303,977375.0,NaN,"A film projectionist longs to be a detective, ...",0.182222,1920
13,15864,Zlata mrzlica,95,1925,8.2,NaN,98472,5450000.0,NaN,A prospector goes to the Klondike in search of...,0.086316,1920
17,16847,Faust: Eine deutsche Volkssage,107,1926,8.1,NaN,13671,NaN,NaN,The demon Mephisto wagers with God that he can...,0.075701,1920
20,17925,General,67,1926,8.1,NaN,79375,1033895.0,NaN,When Union spies steal an engineer's beloved l...,0.120896,1920
22,18455,Svitanje,94,1927,8.1,NaN,46299,539540.0,NaN,An allegorical tale about a man fighting the g...,0.086170,1920
25,18742,Snemalec,76,1928,8.1,NaN,10198,NaN,NaN,Hopelessly in love with a woman working at MGM...,0.106579,1920
26,18773,The Circus,72,1928,8.1,90.0,28350,NaN,NaN,The Tramp finds work and the girl of his dream...,0.112500,1920
27,19254,La passion de Jeanne d'Arc,110,1928,8.1,NaN,46290,21877.0,NaN,"In 1431, Jeanne d'Arc is placed on trial on ch...",0.073636,1920
35,21749,Velemestne luči,87,1931,8.5,99.0,164105,19181.0,G,"With the aid of a wealthy erratic tippler, a d...",0.097701,1930
38,22100,M - mesto isce morilca,117,1931,8.3,NaN,140498,28877.0,NaN,When the police in a German city are unable to...,0.070940,1930
45,23042,I Am a Fugitive from a Chain Gang,92,1932,8.2,NaN,11458,NaN,NaN,Wrongly convicted James Allen serves in the in...,0.089130,1930
62,25316,Zgodilo se je neke noci,105,1934,8.1,87.0,92008,4360000.0,NaN,A spoiled heiress running away from her family...,0.077143,1930
74,27977,Moderni časi,87,1936,8.5,96.0,213002,163245.0,NaN,The Tramp struggles to live in modern industri...,0.097701,1930
85,28950,Velika iluzija,113,1937,8.1,NaN,33339,172885.0,NaN,"During WWI, two French soldiers are captured a...",0.071681,1930
130,33045,Trgovina za vogalom,99,1940,8.1,96.0,27000,203300.0,NaN,Two employees at a gift shop can barely stand ...,0.081818,1940
134,33467,Državljan Kane,119,1941,8.3,100.0,391842,1585634.0,PG,Following the death of publishing tycoon Charl...,0.069748,1940
149,34583,Casablanca,102,1942,8.5,100.0,513101,1024560.0,PG,A cynical American expatriate struggles to dec...,0.083333,1940
160,35446,Biti ali ne biti,99,1942,8.2,86.0,28207,NaN,NaN,"During the Nazi occupation of Poland, an actin...",0.082828,1940
172,36506,Vredens dag,97,1943,8.1,NaN,9058,NaN,NaN,The young wife of an aging priest falls in lov...,0.083505,1940
174,36775,Dvojno zavarovanje,107,1944,8.3,95.0,140715,5720000.0,NaN,An insurance representative lets himself be ta...,0.077570,1940
209,38733,A Matter of Life and Death,104,1946,8.1,NaN,19002,NaN,PG,A British wartime aviator who cheats death mus...,0.077885,1940
240,40522,Tatovi koles,89,1948,8.3,NaN,142838,332930.0,NaN,"In post-war Italy, a working-class man's bicyc...",0.093258,1940
255,41154,Banshun,108,1949,8.3,NaN,14095,NaN,NaN,Noriko is twenty-seven years old and still liv...,0.076852,1940
257,41452,The Heiress,115,1949,8.1,NaN,13450,NaN,NaN,A young naive woman falls for a handsome young...,0.070435,1940
265,41959,Tretji človek,104,1949,8.1,97.0,156225,449191.0,NaN,Pulp novelist Holly Martins travels to shadowy...,0.077885,1940
267,42041,White Heat,114,1949,8.1,NaN,29176,NaN,NaN,A psychopathic criminal with a mother complex ...,0.071053,1940
280,42804,Los olvidados,85,1950,8.3,NaN,18034,NaN,NaN,A group of juvenile delinquents live a violent...,0.097647,1950
281,42876,V gozdu,88,1950,8.2,98.0,149400,96568.0,NaN,The rape of a bride and the murder of her samu...,0.093182,1950
284,43014,Sunset Blvd.,110,1950,8.4,NaN,197483,NaN,NaN,A screenwriter develops a dangerous relationsh...,0.076364,1950
290,43338,Ace in the Hole,111,1951,8.1,72.0,30792,3969893.0,NaN,A frustrated former big-city journalist now st...,0.072973,1950
295,44008,Scrooge,86,1951,8.1,NaN,19379,NaN,NaN,"Ebenezer Scrooge, a curmudgeonly, miserly busi...",0.094186,1950
311,45152,Pojmo v dežju,103,1952,8.3,99.0,214609,8819028.0,G,A silent film production company and cast make...,0.080583,1950
312,45274,Umberto D.,89,1952,8.2,92.0,22436,74308.0,NaN,An elderly man and his dog struggle to survive...,0.092135,1950
339,46478,Legenda o Ugetsu,96,1953,8.3,NaN,20270,11197.0,NaN,"A tale of ambition, family, love, and war set ...",0.086458,1950
350,46912,Kliči U za umor,105,1954,8.2,75.0,154677,12562.0,NaN,A former tennis player tries to arrange his wi...,0.078095,1950

In [16]:
filmi.ocena > 8

0       False
1       False
2       False
3        True
4        True
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: ocena, Length: 10000, dtype: bool

In [17]:
filmi.dolzina < 90

0       False
1       False
2       False
3        True
4        True
        ...
9995    False
9996    False
9997    False
9998    False
9999     True
Name: dolzina, Length: 10000, dtype: bool

In [18]:
{1, 2, 3} or {3, 4, 5}

{1, 2, 3}

In [19]:
filmi[(filmi.ocena < 5) & (filmi.dolzina > 150)]

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
4615,338763,Batoru rowaiaru II: Chinkonka,155,2003,4.7,NaN,19181,NaN,NaN,Three years after the failure of the last BR p...
6418,1091229,Chandni Chowk to China,154,2009,4.0,44.0,7728,921738.0,PG-13,An action-comedy about a simple cook from Chan...
7235,1562871,Ra.One,156,2011,4.7,60.0,37689,2511689.0,NaN,When the titular antagonist of an action game ...
8411,2574698,Gunday,152,2014,2.4,NaN,57521,NaN,NaN,"The lives of Calcutta's most powerful Gunday, ..."
8820,3595298,Prem Ratan Dhan Payo,164,2015,4.5,NaN,17164,4364639.0,NaN,While recovering from an assassination attempt...
9501,5970844,Thugs of Hindostan,164,2018,4.0,NaN,17237,1449848.0,NaN,"Recruited by the East India Company, a local t..."
9698,6988116,Kalank,166,2019,3.5,NaN,11459,2729336.0,Not Rated,The lives of six enigmatic characters become e...
9713,7059844,Dabangg 3,160,2019,3.2,NaN,9452,NaN,NaN,Chulbul Pandey encounters an enemy from his pa...
9768,7431594,Race 3,160,2018,1.9,NaN,32574,1690861.0,NaN,Relationships and loyalties of a criminal fami...
9821,7825208,Marighella,155,2019,3.1,NaN,42735,NaN,NaN,Facing a violent military dictatorship and an ...

In [20]:
filmi.ocena

0       6.3
1       7.7
2       7.3
3       8.1
4       8.3
       ...
9995    5.8
9996    6.3
9997    6.6
9998    7.3
9999    6.6
Name: ocena, Length: 10000, dtype: float64

In [21]:
filmi.sort_values(['leto', 'ocena']).head(20)

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
0,4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...
1,6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ..."
2,9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe..."
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce..."
5,12364,Körkarlen,107,1921,8.1,NaN,10158,NaN,NaN,"On New Year's Eve, the driver of a ghostly car..."
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev..."
6,13442,"Nosferatu, simfonija groze",94,1922,7.9,NaN,87208,NaN,NaN,Vampire Count Orlok expresses interest in a ne...
7,14341,Naše gostoljubje,65,1923,7.8,NaN,9980,NaN,NaN,A man returns to his Appalachian homestead. On...
8,14429,Resitev v zadnjem trenutku,74,1923,8.1,NaN,17921,623809.0,NaN,A boy leaves his small country town and heads ...
10,15163,The Navigator,59,1924,7.7,NaN,8926,1483285.0,NaN,Two spoiled rich people find themselves trappe...
9,15064,Der letzte Mann,77,1924,8.1,NaN,12345,94812.0,NaN,An aging doorman is forced to face the scorn o...
14,15881,Greed,140,1924,8.1,NaN,8940,161800.0,NaN,The sudden fortune won from a lottery fans suc...
11,15324,Sherlock Jr.,45,1924,8.2,NaN,40303,977375.0,NaN,"A film projectionist longs to be a detective, ..."
15,16220,The Phantom of the Opera,93,1925,7.6,NaN,16390,3751476.0,NaN,"A mad, disfigured composer seeks love with a l..."
16,16332,Seven Chances,56,1925,7.9,NaN,9068,210748.0,NaN,A man learns he will inherit a fortune if he m...
12,15648,Bronenosets Potemkin,75,1925,8.0,NaN,52116,50970.0,NaN,In the midst of the Russian Revolution of 1905...
13,15864,Zlata mrzlica,95,1925,8.2,NaN,98472,5450000.0,NaN,A prospector goes to the Klondike in search of...
17,16847,Faust: Eine deutsche Volkssage,107,1926,8.1,NaN,13671,NaN,NaN,The demon Mephisto wagers with God that he can...
20,17925,General,67,1926,8.1,NaN,79375,1033895.0,NaN,When Union spies steal an engineer's beloved l...
21,18037,Pevec Jazza,88,1927,6.5,66.0,8924,7630000.0,NaN,The son of a Jewish Cantor must defy the tradi...

In [22]:
filmi['zanimivost'] = filmi.ocena / filmi.dolzina

In [23]:
filmi

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost
0,4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...,0.032308
1,6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ...",0.047239
2,9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe...",0.081111
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce...",0.106579
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev...",0.122059
...,...,...,...,...,...,...,...,...,...,...,...
9995,11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr...",0.050435
9996,11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...,0.055752
9997,12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...,0.070213
9998,12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...,0.048993
9999,12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...,0.115789

In [24]:
filmi[filmi.glasovi > 500000].sort_values('zanimivost')

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost
3281,120338,Titanik,194,1997,7.8,75.0,1027947,659325379.0,PG-13,A seventeen-year-old aristocrat falls in love ...,0.040206
5407,449088,Pirati s Karibov: Na robu sveta,169,2007,7.1,50.0,587436,309420425.0,PG-13,"Captain Barbossa, Will Turner and Elizabeth Sw...",0.042012
8586,2975590,Batman proti Supermanu: Zora pravice,152,2016,6.4,44.0,615396,330360194.0,PG-13,Fearing that the actions of Superman are left ...,0.042105
3670,167260,Gospodar prstanov: Kraljeva vrnitev,201,2003,8.9,94.0,1612801,377845905.0,PG-13,Gandalf and Aragorn lead the World of Men agai...,0.044279
991,71562,"Boter, II. del",202,1974,9.0,90.0,1105879,57300000.0,NaN,The early life and career of Vito Corleone in ...,0.044554
...,...,...,...,...,...,...,...,...,...,...,...
3796,198781,Pošasti iz omare,92,2001,8.0,79.0,799537,289916256.0,G,"In order to power the city, monsters have to s...",0.086957
3077,117951,Trainspotting,93,1996,8.1,83.0,626011,16501785.0,R,"Renton, deeply immersed in the Edinburgh drug ...",0.087097
416,50083,12 jeznih mož,96,1957,8.9,96.0,673688,4360000.0,NaN,A jury holdout attempts to prevent a miscarria...,0.092708
2679,110357,The Lion King,88,1994,8.5,88.0,922905,422783777.0,G,Lion prince Simba and his father are targeted ...,0.096591
2902,114709,Svet igrač,81,1995,8.3,95.0,869635,191796233.0,NaN,A cowboy doll is profoundly threatened and jea...,0.102469

In [25]:
filmi.mean()

id            1.328197e+06
dolzina       1.092949e+02
leto          1.999632e+03
ocena         6.616510e+00
metascore     5.722118e+01
glasovi       7.497613e+04
zasluzek      3.766810e+07
zanimivost    6.202230e-02
dtype: float64

In [26]:
filmi.max()

id                                                     12749596
naslov                                                    Žrelo
dolzina                                                     439
leto                                                       2020
ocena                                                       9.3
metascore                                                   100
glasovi                                                 2293163
zasluzek                                            9.36662e+08
opis          Zookeepers struggle to deal with the policies ...
zanimivost                                             0.182222
dtype: object

In [27]:
filmi[filmi.metascore == 100]

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost
116,32138,Čarovnik iz Oza,102,1939,8.0,100.0,367382,2076020.0,PG,Dorothy Gale is swept away from a farm in Kans...,0.078431
134,33467,Državljan Kane,119,1941,8.3,100.0,391842,1585634.0,PG,Following the death of publishing tycoon Charl...,0.069748
149,34583,Casablanca,102,1942,8.5,100.0,513101,1024560.0,PG,A cynical American expatriate struggles to dec...,0.083333
211,38787,Razvpita,102,1946,7.9,100.0,90899,10464000.0,NaN,A woman is asked to spy on a group of Nazi fri...,0.077451
341,46511,Potovanje v Italijo,85,1954,7.4,100.0,8756,NaN,NaN,An unhappily married couple attempts to find d...,0.087059
355,47396,Dvoriščno okno,112,1954,8.4,100.0,435450,36764313.0,PG,A wheelchair-bound photographer spies on his n...,0.075000
439,51036,Sladki vonj po uspehu,96,1957,8.1,100.0,27448,NaN,NaN,Powerful but unethical Broadway columnist J.J....,0.084375
464,52357,Vrtoglavica,128,1958,8.3,100.0,356027,3200000.0,PG,A former police detective juggles wrestling wi...,0.064844
557,56172,Lawrence Arabski,228,1962,8.3,100.0,263230,44824144.0,NaN,"The story of T.E. Lawrence, the English office...",0.036404
587,57091,Il gattopardo,186,1963,8.0,100.0,22567,NaN,NaN,"The Prince of Salina, a noble aristocrat of im...",0.043011
682,60138,Au hasard Balthazar,95,1966,7.9,100.0,17483,39388.0,NaN,The story of a mistreated donkey and the peopl...,0.083158
822,65571,Il conformista,113,1970,8.0,100.0,26267,541940.0,NaN,A weak-willed Italian man becomes a fascist fl...,0.070796
908,68646,Boter,175,1972,9.2,100.0,1582906,134966411.0,NaN,The aging patriarch of an organized crime dyna...,0.052571
1388,83922,Fanny in Alexander,188,1982,8.1,100.0,56591,4971340.0,NaN,Two young Swedish children experience the many...,0.043085
2749,111495,Tri barve: Rdeča,99,1994,8.1,100.0,88572,4043686.0,R,A model discovers a retired judge is keen on i...,0.081818
6368,1065073,Fantovska leta,165,2014,7.9,100.0,331915,25379975.0,R,"The life of Mason, from early childhood to his...",0.047879

In [28]:
filmi.count()

id            10000
naslov        10000
dolzina       10000
leto          10000
ocena         10000
metascore      7591
glasovi       10000
zasluzek       7525
oznaka         6344
opis          10000
zanimivost    10000
dtype: int64

In [29]:
filmi.groupby('leto')

In [30]:
filmi['desetletje'] = filmi.leto // 10 * 10

In [31]:
filmi

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost,desetletje
0,4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...,0.032308,1910
1,6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ...",0.047239,1910
2,9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe...",0.081111,1910
3,10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce...",0.106579,1920
4,12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev...",0.122059,1920
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr...",0.050435,2020
9996,11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...,0.055752,2020
9997,12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...,0.070213,2020
9998,12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...,0.048993,2020
9999,12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...,0.115789,2020

In [32]:
filmi.groupby('desetletje').count()

,id,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis,zanimivost
desetletje,,,,,,,,,,,
1910,3,3,3,3,3,1,3,2,0,3,3
1920,27,27,27,27,27,3,27,17,1,27,27
1930,88,88,88,88,88,36,88,31,5,88,88
1940,149,149,149,149,149,51,149,50,9,149,149
1950,224,224,224,224,224,91,224,90,20,224,224
1960,319,319,319,319,319,161,319,154,52,319,319
1970,444,444,444,444,444,316,444,271,48,444,444
1980,875,875,875,875,875,722,875,748,62,875,875
1990,1536,1536,1536,1536,1536,1041,1536,1420,1231,1536,1536
2000,2777,2777,2777,2777,2777,2296,2777,2322,2325,2777,2777
2010,3463,3463,3463,3463,3463,2797,3463,2412,2533,3463,3463
2020,95,95,95,95,95,76,95,8,58,95,95

In [33]:
filmi.groupby('desetletje').size()

desetletje
1910       3
1920      27
1930      88
1940     149
1950     224
1960     319
1970     444
1980     875
1990    1536
2000    2777
2010    3463
2020      95
dtype: int64

In [34]:
filmi.groupby('leto').size().plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [ ]:
dobri_filmi = filmi[filmi.ocena > 8.9]

In [ ]:
dobri_filmi.sort_values('ocena').plot.bar(x='naslov', y='ocena')

In [ ]:
filmi.sort_values('dolzina').plot.scatter(x='dolzina', y='ocena')

In [ ]:
zanri = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/zanri.csv')

In [ ]:
zanri

In [ ]:
filmi

In [ ]:
filmi_z_zanri = pd.merge(filmi, zanri, left_on='id', right_on='film')

In [ ]:
filmi_z_zanri

In [ ]:
filmi_z_zanri[filmi_z_zanri.zanr == 'History'].mean()

In [ ]:
filmi_z_zanri[filmi_z_zanri.zanr == 'Comedy'].mean()

In [ ]:
filmi_z_zanri.groupby('zanr').mean().sort_values('ocena').ocena.plot.bar()

In [ ]:
vloge = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/vloge.csv')

In [ ]:
osebe = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/osebe.csv')

In [ ]:
vloge

In [ ]:
zanri

In [ ]:
pd.merge(vloge, zanri)

In [ ]:
vloge_z_zanri = pd.merge(vloge, zanri)

In [ ]:
vloge_z_zanri[vloge_z_zanri.zanr == 'Comedy']

In [ ]:
pd.merge(osebe, vloge_z_zanri[vloge_z_zanri.zanr == 'Comedy'], left_on='id', right_on='oseba')

In [ ]:
pd.merge(osebe, vloge_z_zanri[vloge_z_zanri.zanr == 'Comedy'], left_on='id', right_on='oseba').groupby('oseba').size().sort_values()

In [ ]:
osebe

In [ ]:
vloge

In [ ]:
zanri

In [ ]:
vloge_z_zanri = pd.merge(vloge, zanri)

In [ ]:
vloge_z_zanri.head(20)

In [ ]:
vloge_z_zanri[
    (vloge_z_zanri.zanr == 'Comedy')
    &
    (vloge_z_zanri.vloga == 'I')
].groupby(
    'oseba'
).size(
).sort_values(
)

In [ ]:
pd.merge(
    vloge_z_zanri[
        (vloge_z_zanri.zanr == 'Comedy')
        &
        (vloge_z_zanri.vloga == 'I')
    ],
    osebe,
    left_on='oseba',
    right_on='id'
).groupby(
    'ime'
).size(
).sort_values(
)

In [ ]:
filmi

In [ ]:
filmi.groupby('leto').mean()

In [ ]:
filmi = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/filmi.csv', index_col='id')

In [ ]:
filmi

In [ ]:
osebe = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/osebe.csv', index_col='id')

In [ ]:
osebe

In [ ]:
filmi.dolzina

In [ ]:
obrnjen_zasluzek = filmi.zasluzek[::-1]

In [ ]:
obrnjen_zasluzek

In [ ]:
filmi.zasluzek / filmi.dolzina

In [ ]:
obrnjen_zasluzek / filmi.dolzina

In [ ]:
vloge_z_zanri[
    (vloge_z_zanri.zanr == 'Comedy')
    &
    (vloge_z_zanri.vloga == 'I')
].groupby(
    'oseba'
).size(
)

In [ ]:
osebe['st_komedij'] = vloge_z_zanri[
    (vloge_z_zanri.zanr == 'Comedy')
    &
    (vloge_z_zanri.vloga == 'I')
].groupby(
    'oseba'
).size(
)

In [ ]:
osebe.sort_values('st_komedij')

In [ ]:
st_komedij

In [ ]:
len(osebe)

In [ ]:
osebe

In [ ]:
osebe.sort_values('st_komedij', na_position='first')

In [ ]:
osebe.dropna().sort_values('st_komedij', ascending=False).head(20).plot.bar(x='ime')

In [ ]:
help(osebe.sort_values)

In [ ]:
filmi

In [ ]:
zanri